body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.content-wrapper {
    margin-left: 250px;
    padding: 40px 20px;
}

.container-fluid {
    max-width: 1000px; 
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    
}


.page-title {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center; 
    margin-right: 2rem;
}


.panel-primary {
    border: 1px solid #1e1e24;
    border-radius: 8px;
    
}

.panel-heading {
    background-color: #1e1e24;
    color: #fff;
    padding: 10px 15px;
    font-size: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.panel-body {
    padding: 20px;
    border : 1px solid #1e1e24;
}


.fhorizon .fgroup {
    margin-bottom: 15px;
    display: flex; 
    align-items: center; 
	padding : 10px;
}

.fhorizon label {
    width: 180px; 
    text-align: right;
    font-weight: bold;
    margin-right: 20px;
}

.fhorizon .fcontrol{
    width: 40%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
	margin-right: 60px;
}

.fhorizon select.fcontrol{
    padding: 8px;
}


.btngrp {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-top: 20px;
    margin-right: 20rem;
}

.fhorizon .btn-change {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
.fhorizon .btn-cancel {
    background-color: grey;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.fhorizon .btn:hover {
    background-color: #444;
}


#password-availability-status {
    font-size: 12px;
    color: red;
}

.error-message {
        color: red;
        font-size: 12px;
    }

