
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f9;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        background-color: white;
        width: 100%;
        max-width: 600px;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    h2, h3 {
        margin-bottom: 20px;
        color: #333;
    }

    label {
        font-size: 16px;
        color: #444;
        margin-top: 10px;
        display: block;
        text-align: left;
    }

    input[type="radio"] {
        margin-right: 10px;
    }

    input[type="text"] {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    button {
        background-color: #1e1e24;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        width: 100%;
        margin-top: 20px;
    }

    button:hover {
        background-color: grey;
    }

    .hidden {
        display: none;
    }

